name: NWChem_Release_Tar

on:
  workflow_dispatch:
    inputs:
      nwchem_version:
        description: 'Release version'
        required: true
        default: 'nightly'
        type: choice
        options:
          - nightly
          - 7.3.0
      branch:
        description: 'branch of NWChem repository'
        required: true
        default: 'master'
        type: choice
        options:
          - master
          - hotfix/7.2.0
          - release-7-3-0
          - hotfix/7.3.0

jobs:
  do_tar:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          show-progress:
          fetch-depth: 200
      - name: check if tag exists
        run: |
          echo "checking if branch" ${{ github.event.inputs.branch }} "exists"
          ls -lart
          env
          if ! git ls-remote --exit-code --heads \
          origin \
          refs/heads/${{ github.event.inputs.branch }}
          then
              echo branch is not there
              git checkout -b ${{ github.event.inputs.branch }}
              git push origin  ${{ github.event.inputs.branch }}
          else
              echo branch is there
          fi
          cd $HOME
      - name: install pkg
        run: |
          sudo apt-get install -y curl make perl bash bzip2 tar gzip openmpi-bin
      - name: grab script
        run: |
          env|grep GITHUB
          curl -LJO https://raw.githubusercontent.com/$GITHUB_REPOSITORY_OWNER/nwchem/$GITHUB_REF_NAME/contrib/git.nwchem/dotar_release.sh
          chmod +x ./dotar_release.sh
      - name: generate date
        run: |
          export TZ='America/Los_Angeles'
          echo "input_date=$(date +%Y-%m-%d)" >>  $GITHUB_ENV
      - name: generate tempdir name
        run: |
          echo "tmpdir_name=temp.${{ env.input_date }}" >>  $GITHUB_ENV
      - name: run script
        run: |
          ./dotar_release.sh ${{ github.event.inputs.nwchem_version }} ${{ env.input_date }} ${{ github.event.inputs.branch }}
      - name: check tempdir
        run: |
          ls -lrt ${{ env.tmpdir_name }}/*tar*
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: nwchem-tarball
          path: ${{ env.tmpdir_name }}/*tar*
      - if: github.event.inputs.release_version == 'nightly'
        name: Nightly
        uses: softprops/action-gh-release@v2
        with:
          prerelease: true
          name: nightly
          tag_name: nightly
          files: ${{ env.tmpdir_name }}/*tar*
          fail_on_unmatched_files: true
      - if: github.event.inputs.release_version != 'nightly'
        name: Release 
        uses: softprops/action-gh-release@v2
        with:
          prerelease: true
          draft: true
          name: NWChem ${{ github.event.inputs.nwchem_version }}
          tag_name: v${{ github.event.inputs.nwchem_version }}-release
          files: ${{ env.tmpdir_name }}/*tar*
          fail_on_unmatched_files: true
